

.body-initial {background-color: transparent;}.silex-id-1542405954074-3 {top: 0px; left: 0px; width: 848px; min-height: 445px;}

.text-style-1 p {color: #ff8000; background-color: #ff80ff;}body.silex-runtime {opacity: 1;}
