

.body-initial {background-color: transparent;}.silex-id-1542405954074-3 {top: 0px; left: 0px; width: 1419px; min-height: 1105px; background-color: rgba(0,0,0,1);}.silex-id-1542408802712-2 {width: 20px; background-color: rgba(10,10,10,1); min-height: 1505px; top: -37px; left: 292px;}.silex-id-1542408821247-3 {width: 344px; min-height: 274px; top: 7px; left: 319px;}

.text-style-1 p {color: #ff8000; background-color: #ff80ff;}body.silex-runtime {opacity: 1;}
